<div *ngIf="tasks?.length > 0; else noTasks">
  <ul *ngFor="let task of tasks" class="collection">
    <li class="collection-item" >
      <strong>{{task.title}}</strong> : {{task.description}}
      <div class="secondary-content">
        <a href="#"><i class="fa fa-trash" (click)="deleteTask(task.$key)"></i></a>
        <a href="#"><i class="fa fa-pencil" (click)="updateTask(task.$key)"></i></a>
      </div>
    </li>
  </ul>
</div>

<ng-template #noTasks>
  <h5>There is not Tasks yet.</h5>
</ng-template>