<div class="row">
  <div class="co">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Idioma</th>
          <th>Precio</th>
          <th>Oferta</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TITULO LIBRO</td>
          <td>AUTOR LIBRO</td>
          <td>IDIOMA LIBRO</td>
          <td>PRECIO</td>
          <td>OFERTA</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>