<div>
    <ul class="collection">
        <li class="collection-item">
            <a href="" class="secondary-content">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">close</i>
            </a>
            <strong>Nombre Curso</strong>
            <br>
            <blockquote>DESCRIPCION DEL CURSO</blockquote>
            <br>
            <span class="my_tag amber">
                <strong>Precio:</strong>11,77€
            </span>
            <span class="my_tag amber">
                <strong>Idioma:</strong>Español
            </span>
            <span class="my_tag amber">
                <strong>Formador:</strong>Formador
            </span>
            <span class="my_tag amber">
                <strong>PHP</strong>
            </span>
            <hr>
            <div class="container-updateCurso">
                
            </div>
        </li>
    </ul>
</div>