<section id="books">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let book of books">
        <div class="card_book">
          <div class="card">
            <div class="card-body">
              <p>
                <img class="img-fluid" src="https://dummyimage.com/300x300/000/fff" alt="">
              </p>
              <h4 class="card-title">Titulo</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, animi quaerat perferendis enim
                repudiandae totam necessitatibus accusamus alias molestiae et quibusdam voluptatibus dolor, nihil, ex
                dolorum cumque odio similique expedita.
              </p>
              <a href="#" class="btn btn-block btn-primary" target="_blank">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>